{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Enter new password</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  </head>

  <body class="text-center">

    <form class="form-signin" method="POST">

      {% if form.errors %}
        <div class="alert alert-danger">
	      {% for field in form %}
		    {% if field.errors %}
		      {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
		      {% endfor %}
		    {% endif %}
	      {% endfor %}
		  {% if form.non_field_errors %}
		    {% for error in form.non_field_errors %}
              <strong>{{ error|escape }}</strong>
		    {% endfor %}
	      {% endif %}
        </div>
      {% endif %}

      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Set a new password!</h1>
      <label for="id_new_password1" class="sr-only">New password</label>
      <input type="password" id="id_new_password1" name="new_password1" class="form-control" autocomplete="new-password" required>
      <label for="id_new_password2" class="sr-only">New password confirmation</label>
      <input type="password" id="id_new_password2" name="new_password2" class="form-control" autocomplete="new-password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
    </form>

  </body>
</html>
